<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/lonier4">Andre</a>.  A web developers who is using his coding skills to deliver a daily dose of travel knowledge to anybody who stumbles upon his app. 
  <br />
  <p>
    While still considering himself a novice in the ways of travel, he enjoys dishing out whatever knowledge he has picked up along the way. Some of his favorite destinations include Cuba, New York, and Germany. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
    <%= image_tag 'me_2.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-4 offset-sm-1">
      <h2 class="text-center">Andre Yeargins</h2>
      <br />
      <p>
        Andre is  aweb developer fresh in the game with a background in Marketing. In his previous role he guided clients towards the right path to retirement by using his Finance skills for <a target="_blank" href="https://www.schwab.com">Charles Schwab</a>. In an earlier chapter of his life, he travelled to rural areas and helped a team build houses for those in need. 
      </p>
    </div>
  </div>

  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

